@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: "Lato", sans-serif;
    overflow: hidden;
    user-select: none;
    cursor: url(cursor.png) 16 16, auto !important;
    color: white;
    text-align: center;
}

body {
    background-color: #000001;
}

i {
    cursor: url(cursor.png) 16 16, auto !important;
}

i:hover {
    cursor: url(cursor.png) 16 16, auto !important;
}

.icons i i:hover a a:hover {
    cursor: url(cursor.png) 16 16, auto !important;
}

Main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

Main .header {
    width: auto;
    display: flex;
    flex-direction: column;
}

Main .header .icons {
    margin-top: 0px;
    color: white;
    font-size: 25px;
}

.background {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.musicButtons i {
    margin-top: 30px;
    font-size: 30px;
    cursor: url(cursor.png) 16 16, auto !important;
    width: max-content;
}

Main .header a {
    text-decoration: none;
    color: white;
    margin: 0px 0px;
}

Main .header>#name {
    font-size: 0px;
    font-weight: bold;
    text-transform: lowercase;
    width: max-content;
    margin: 0 auto;
}

Main .header>#name>p {
    color: gray;
    font-size: 0px;
    display: inline-block;
}

Main .header .icons i {
    transition: 200ms;
    cursor: url(cursor.png) 16 16, auto !important;
}

Main .header .icons i:hover {
    transform: scale(1.1);
    cursor: url(cursor.png) 16 16, auto !important;
}

.discordProfile {
    margin: 10px 0;
    height: 90px;
    border-radius: 16px;
    overflow: hidden;
    width: max-content;
    margin: 0 auto;
    transition: 300ms ease-in-out;
    cursor: url(cursor.png) 16 16, auto !important;
}

.discordProfile:hover {
    height: 210px;
    cursor: url(cursor.png) 16 16, auto !important;
}

main .header .emojis {
    margin-top: 0px;
}